# Server
PORT=5000
NODE_ENV=production

# Database
MONGO_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/travelbuddy

# Auth
JWT_SECRET=your_jwt_secret_here

# Frontend URL (update after deploying frontend on Render)
FRONTEND_URL=https://travelbyddy-frontend.onrender.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=dbwvapq7s
CLOUDINARY_API_KEY=832972215164861
CLOUDINARY_API_SECRET=8VuVUVba3JBuU-AxZ-gM5pnIcQU


# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://travelbyddy-backend.onrender.com/api/auth/google/callback

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://travelbyddy-backend.onrender.com/api/auth/github/callback

# LinkedIn OAuth
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CALLBACK_URL=https://travelbyddy-backend.onrender.com/api/auth/linkedin/callback

# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=https://travelbyddy-backend.onrender.com/api/auth/discord/callback

# Email (SMTP)
SMTP_USER=ajitshrestha555@gmail.com
SMTP_PASS=ndxp pccz dvyc oqzw

# Twilio SMS
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Admin credentials
ADMIN_EMAIL=Admin10@gmail.com
ADMIN_PASSWORD=admin12345



